<span id="{{ item.SpanID }}"
      class="{{ item.HtmlClassString }}"
      tid="{{ item.TextID }}"
      seid="{{ item.SeID }}"
      data_order="{{ item.Order }}"
{% if item.WoID is null %}
      data_trans=""
      data_rom=""
      data_status="0"
      data_wid=""
{% else %}
      data_trans="{{ item.WoTranslation }} {{ item.Tags }}"
      data_rom="{{ item.WoRomanization }}"
      data_status="{{ item.WoStatus }}"
      data_code="{{ item.WordCount }}"
      data_text="{{ item.Text }}"
      data_wid="{{ item.WoID }}"
      parent_text="{{ item.ParentWoTextLC }}"
      parent_trans="{{ item.ParentWoTranslation }} {{ item.ParentTags }}"
{% endif %}
>{{ item.Text | replace({' ': '&nbsp;'})| raw }}</span>
