<span id="{{ item.SpanID }}"
      class="{{ item.HtmlClassString }}"
      tid="{{ item.TextID }}"
      lid="{{ item.LangID }}"
      seid="{{ item.SeID }}"
      data_order="{{ item.Order }}"
{% if item.WoID is not null %}
      data_trans="{{ item.WoTranslation }}"
      data_tags="{{ item.Tags }}"
      data_rom="{{ item.WoRomanization }}"
      data_status="{{ item.WoStatus }}"
      data_code="{{ item.WordCount }}"
      data_text="{{ item.Text }}"
      data_wid="{{ item.WoID }}"
      data_img_src="{{ item.ImageSource }}"
      parent_text="{{ item.ParentWoTextLC }}"
      parent_tags="{{ item.ParentTags }}"
      parent_trans="{{ item.ParentWoTranslation }}"
      parent_img_src="{{ item.ParentImageSource }}"
{% endif %}
>{{ item.Text | replace({' ': '&nbsp;'})| raw }}</span>

{# Pre-loading images for faster hover loads. #}
{% if item.ImageSource is not empty %}
<img style="display:none;" src="{{ item.ImageSource }}" />
{% endif %}
{% if item.ParentImageSource is not empty %}
<img style="display:none;" src="{{ item.ParentImageSource }}" />
{% endif %}
