<span id="{{ item.SpanID }}"
      class="{{ item.HtmlClassString }}"
      tid="{{ item.TextID }}"
      lid="{{ item.LangID }}"
      paraid="{{ item.ParaID }}"
      seid="{{ item.SeID }}"
      data_text="{{ item.Text }}"
      data_order="{{ item.Order }}"
{% if item.WoID is not null %}
      data_wid="{{ item.WoID }}"
{% endif %}>{{ item.HtmlDisplayText | raw }}</span>
