{% extends 'base.html.twig' %}

{% block title %}Language index{% endblock %}

{% block body %}

<h1>Language index</h1>

{% if languages|length == 0 %}
  <p>No languages defined.</p>
{% else %}
  
<table class="table dataTable no-footer" style="width: 50%; margin: 0;">
  <thead>
    <tr>
      <th>Language</th>
      <th>Active Books</th>
      <th>Terms</th>
    </tr>
  </thead>
  <tbody>
    {% for language in languages %}
    <tr>
      <td>
        <a href="/language/{{ language.LgID }}/edit">
          {{ language.LgName }}
        </a>
      </td>
      <td>
        {% set ab = language.activeBooks|length %}
        {% if ab > 0 %}
        <a href="/book/index/{{ language.LgName }}">{{ ab }}</a>
        {% else %}
        -
        {% endif %}
      </td>
      <td>
        {% set ltl = language.terms|length %}
        {% if ltl > 0 %}
        <a href="/term/index/{{ language.LgName }}">{{ ltl }}</a>
        {% else %}
        -
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

<br />
<a href="{{ path('app_language_new') }}">Create new</a>
{% endblock %}

