{% extends 'base.html.twig' %}

{% block title %}Language index{% endblock %}

{% block body %}

<h1>Language index</h1>

{% if languages|length == 0 %}
  <p>No languages defined.</p>
{% else %}
  
<table class="table dataTable no-footer">
  <thead>
    <tr>
      <th>Language</th>
      <th>Texts</th>
      <th>Terms</th>
    </tr>
  </thead>
  <tbody>
    {% for language in languages %}
    <tr>
      <td>
        <a href="/language/{{ language.LgID }}/edit">
          {{ language.LgName }}
        </a>
      </td>
      <td>
        <a href="/text/index/{{ language.LgName }}">
          {{ language.texts|length }}
        </a>
      </td>
      <td>
        <a href="/term/index/{{ language.LgName }}">
          {{ language.terms|length }}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

<br />
<a href="{{ path('app_language_new') }}">Create new</a>
{% endblock %}

