<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Sentences</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <style>
      p {
          font-style: italic;
      }
    </style>

    <script>
      function open_sentence_text(textid) {
        window.top.location = `/read/${textid}`;
      }
    </script>

  </head>

  <body>

    {% if term|length > 0 %}
    <p>The term:</p>
    <ul class="sentencelist">
      {% for dto in term %}
      <li>
        {{ dto.Sentence }}
        <img src="/icn/external.png" title="{{ dto.Title }}" onclick="open_sentence_text({{ dto.TxID }});" />
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if parent|length > 0 %}
    <p>Term parent:</p>
    <ul class="sentencelist">
      {% for dto in parent %}
      <li>
        {{ dto.Sentence }}
        <img src="/icn/external.png" title="{{ dto.Title }}" onclick="open_sentence_text({{ dto.TxID }});" />
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if children|length > 0 %}
    <p>Term children:</p>
    <ul class="sentencelist">
      {% for dto in children %}
      <li>
        {{ dto.Sentence }}
        <img src="/icn/external.png" title="{{ dto.Title }}" onclick="open_sentence_text({{ dto.TxID }});" />
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if siblings|length > 0 %}
    <p>Sibling terms (with the same parent):</p>
    <ul class="sentencelist">
      {% for dto in siblings %}
      <li>
        {{ dto.Sentence }}
        <img src="/icn/external.png" title="{{ dto.Title }}" onclick="open_sentence_text({{ dto.TxID }});" />
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if archived|length > 0 %}
    <p>Archived (clicking will unarchive the texts):</p>
    <ul class="sentencelist">
      {% for dto in archived %}
      <li>
        {{ dto.Sentence }}
        <img src="/icn/external.png" title="{{ dto.Title }}" onclick="open_sentence_text({{ dto.TxID }});" />
      </li>
      {% endfor %}
    </ul>
    {% endif %}

  </body>

</html>

