{% extends 'base.html.twig' %}

{% block title %}Term{% endblock %}

{% block body %}
    <h1>Term</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Term</th>
                <td>{{ term.Text }}</td>
            </tr>

            {% if term.Parent %}
            <tr>
                <th>Parent</th>
                <td>{{ term.Parent.Text }}</td>
            </tr>
            {% endif %}

            <tr>
                <th>Status</th>
                <td>{{ term.Status }}</td>
            </tr>
            <tr>
                <th>Translation</th>
                <td>{{ term.Translation }}</td>
            </tr>
            <tr>
                <th>Romanization</th>
                <td>{{ term.Romanization }}</td>
            </tr>
            <tr>
                <th>Sentence</th>
                <td>{{ term.Sentence }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ term.Language.LgName }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_term_index') }}">back to list</a>

    <a href="{{ path('app_term_edit', {'id': term.id}) }}">edit</a>

    {{ include('term/_delete_form.html.twig') }}
{% endblock %}
