    <h1>Term</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Term</th>
                <td>{{ term.Text }}</td>
            </tr>

            {% if term.Parent %}
            <tr>
                <th>Parent</th>
                <td>{{ term.Parent.Text }}</td>
            </tr>
            {% endif %}

            <tr>
                <th>Status</th>
                <td>{{ term.Status }}</td>
            </tr>
            <tr>
                <th>Translation</th>
                <td>{{ term.Translation }}</td>
            </tr>
            <tr>
                <th>Romanization</th>
                <td>{{ term.Romanization }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ term.Language.LgName }}</td>
            </tr>

        </tbody>
    </table>
