{% form_theme form 'form_table_layout.html.twig' %}

{{ form_start(form) }}

<table id="book">
  {{ form_row(form.language) }}
  {{ form_row(form.Title) }}
  {{ form_row(form.Text) }}
  {{ form_row(form.TextFile) }}
  {{ form_row(form.SourceURI) }}

  {% do form.bookTags.setRendered %}
  {# manually write list so it can be managed by tagit. #}
  <tr>
    <td>Tags</td>
    <td>
      <ul id="texttagslist" class="tags nomarginblock">
        {% for bookTag in form.bookTags %}
        <li>
          {{ bookTag.vars.value.text }}
        </li>
        {% endfor %}
      </ul>
    </td>
  </tr>

</table>

<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script>

  let setupTagit = function() {
    var prototypeFieldName = 'book_dto[bookTags][__name__][text]';
    var fieldIndex = 0;
    
    let invalidChar = function(s) { return /[\uD800-\uDFFF]/.test(s); };

    $('#texttagslist').tagit(
      {
        beforeTagAdded: function (_event, ui) {
          if (invalidChar(ui.tag.text())) {
            return;
          }
          fieldIndex++;
          $(this).tagit({fieldName: prototypeFieldName.replace('__name__', fieldIndex)});
        },
        availableTags: TEXTTAGS,
        fieldName: 'book_dto[bookTags][0][text]'
      });
  };

  $(document).ready(function () {
    setupTagit();
  });

</script>


