{% extends 'base.html.twig' %}

{% block title %}LUTE{% endblock %}

{% block hide_home_link %}{% endblock %}

{% block body %}

<!-- I'm not *supposed* to use tables for layout, but it works. -->
<table style="table-layout: fixed">
  <tr>
    <td width="5px">
      <img src="/img/lute.png" class="lutelogo" style="width: 75px; height: auto;" />
    </td>
    <td>
      <h1 style="margin-block-end: 0px">Learning Using Texts (LUTE)</h1>
      <p style="margin: 0px; font-size: 0.6em; font-style: italic;">{{ version }}</p>
    </td>
  </tr>
</table>


{% if isdemodb %}
<div class="flash-notice">
  <p>Lute is currently using a demo database, <b>lute_demo</b>.</p>

  {% if demoisempty %}
  <p>The demo db is currently empty.  You
  can <a href="/demo/load">load some demo data</a>, or define your own
  languages and texts to try it out.</p>
  {% endif %}

  {% if tutorialloaded %}
  <p>The demo db has been loaded with a <a href="/read/1">brief
  tutorial</a>, and a few languages and sample stories.
  </p>
  {% endif %}

  <p>When you are done testing out the demo, update
  your <b>.env.local</b> configuration file to your real database
  name.  (Lute will create that database for you, if it doesn't
  already exist.)</p>
</div>

{% elseif bkp_missing_enabled_key %}
<div class="flash-notice">
  <p>The key <b>BACKUP_ENABLED</b> is not defined in your .env.local file.</p>

  <p>
    This is a safeguard to ensure that you have some backup strategy
    in place, because it would be <i>really bad</i> if you used Lute
    and then one day lost all of your defined terms and texts due to
    a computer issue.  Things happen, so put together a backup plan.
  </p>

  <p>
    Either you or Lute can handle backups.  See
    the <a href="https://github.com/jzohrab/lute/wiki/Backup">wiki
    Backup page</a> for notes on the backup settings.
  </p>

  <p>
    If you don't to back things up, and want to hide this message,
    just set the following in your .env.local file, and prepare to
    live dangerously: <b>BACKUP_ENABLED=false</b>
  </p>
</div>

{% elseif bkp_enabled and bkp_missing_keys %}
<div class="flash-notice">
  <p>Missing required backup keys: {{ bkp_missing_keys_list }}.</p>
  <p>
    See the <a href="https://github.com/jzohrab/lute/wiki/Backup">wiki
      Backup page</a> for config notes.
  </p>
</div>

{% elseif bkp_show_warning %}
<div class="flash-notice">
  <p>Warning: {{ bkp_warning }}  <a href="/utils/backup">Create a backup.</a></p>
</div>
{% endif %}


<div id="userlinks" style="margin-top: 30px;">
  <ul>
    <li><a href="/language/index">Languages</a></li>
    <li><a href="{{ path('app_book_new') }}">Create new Text</a></li>
    <li><a href="{{ path('app_book_import_webpage') }}">Import web page</a></li>
    <li><a href="/book/index">Texts</a>
      {% if currtxid is not null %}
      (continue reading <a href="/read/{{ currtxid }}">&quot;{{ currtxtitle }}&quot;</a>)
      {% endif %}
    </li>
    <li><a href="/book/archived">Text archive</a></li>
    <li><a href="/term/index">Terms</a></li>
  </ul>
</div>

<div id="techlinks" style="margin-top: 30px;">
  <ul>
    {% if not bkp_missing_keys %}
    <li><a href="/utils/backup">Create backup</a></li>
    {% endif %}
    <li><a href="/server_info">Version and software info</a></li>
    <li><a href="/cache/clear">Clear application cache</a></li>
    <li><a href="https://github.com/jzohrab/lute/tree/master/docs">Docs (on GitHub)</a></li>
  </ul>
</div>

<footer id="myfooter">
<p>
  Lute is free and unencumbered software released into the 
  <a href="https://en.wikipedia.org/wiki/Public_domain_software" target="_blank">PUBLIC DOMAIN</a>. 
  Ref <a href="http://unlicense.org/" target="_blank">http://unlicense.org/</a>
</p>
</footer>
  
{% endblock %}

