{% extends 'base.html.twig' %}

{% block body %}

<h1>Your server</h1>

<table>
  <tr>
    <td>Db name</td>
    <td>{{ dbname }}</td>
  </tr>
  <tr>
    <td>Server</td>
    <td>{{ server }}</td>
  </tr>
  <tr>
    <td>Connection</td>
    <td>{{ symfconn }}</td>
  </tr>
  <tr>
    <td>Web host</td>
    <td>{{ webhost }}</td>
  </tr>
  <tr>
    <td>Running</td>
    <td>{{ apache }}</td>
  </tr>
  <tr>
    <td>PHP version</td>
    <td>{{ php }}</td>
  </tr>
</table>


{% if true %}

<h1>A big dump of stuff for development</h1>

<hr />

<p>All environment vars:</p>

<table>
  <tr><th>Key</th><th>Value</th></tr>
  {% for k, v in allenv %}
  <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
  {% endfor %}
</table>

<hr />

<p>_ENV:</p>

<table>
  <tr><th>Key</th><th>Value</th></tr>
  {% for k, v in ENV %}
  <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
  {% endfor %}
</table>

<hr />

<p>_SERVER:</p>

<table>
  <tr><th>Key</th><th>Value</th></tr>
  {% for k, v in SERVER %}
  <tr><td>{{ k }}</td><td>{{ v }}</td></tr>
  {% endfor %}
</table>

{% endif %}

{% endblock %}

