<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>LUTE - fatal error</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    </script>
  </head>

  <body style="width: 60%;">

    <h1>This looks like a Learning With Texts database ...</h1>

    <p>The database specified in your .env.local file, "{{ dbname }}",
    looks like a Learning With Texts database.</p>

    <p>Lute normally tries to automatically update its database, but
    these changes are <b>not</b> compatible with LWT's software, so
    we're stopping the migration in case this was a configuration
    mistake.</p>

    <p>You can force the migration of this database to a
    Lute-compatible schema by running the following from the command
    line:</p>

    <pre>
    <code>
    composer db:migrate:prod
    </code>
    </pre>

    <h2>Creating a new Lute db from {{ dbname }}</h2>

    <p>Instead of forcing the migration of {{ dbname }}, you you might
    want to create a new db for Lute, using your LWT db as a starting
    point.  Do this from the command line:</p>

    <pre><code>
    mysqldump -u {{ username }} -p -v {{ dbname }} &gt; lwtdbdump.sql

    mysqladmin -u {{ username }} -p create mylute

    mysql -u {{ username }} -p mylute &lt; lwtdbdump.sql
    </code></pre>

    <p>Then change your .env.local file, changing <code>{{ dbname }}</code> to <code>mylute</code>, and finally:</p>

    <pre>
    <code>
    composer db:migrate:prod
    </code>
    </pre>

  </body>

</html>
